@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

:root {
    font-family: 'Montserrat', 'Arial', sans-serif;
}


body {
    display: flex;
    align-items: stretch;
    min-height: 100vh;
}

header {
    background-image: url('../assets/images/background.jpg');
    background-position: center;
    background-size: cover;
    width: 40%;
    min-height: 100vh;
    height: 100%;
}

main {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(180deg, rgb(30, 30, 30) 65%, #2a2a2a);
    width: 60%;
    padding: 5%;
    gap: 5rem;
}

a {
    text-decoration: none;
    color: #a2c2ec;
    transition: 250ms;
}

a:hover {
    color: white;
}

.section__description {
    font-size: 1.5rem;
}

fieldset {
    border: none;
}

legend {
    font-size: 1.5rem;
    margin: 1rem 0;
}

.form__group {
    display: flex;
    gap: 4rem;
}

.form__input {
    margin: 0.5rem 0;
    display: flex;
    flex-direction: column;
}

.form__input input {
    border-radius: 10px;
    border: none;
    padding: 1rem;
    background-color: #3d3d3d;
    color: white;
    transition: outline 200ms;
}

.form__input input:focus {
    outline: solid 3px #a2c2ec;
}

.form__input input.touched:valid {
    outline: solid 3px #a2ecba;
}

.form__input input.touched:invalid {
    outline: solid 3px #eca2a2;
}

.form__input label {
    margin-bottom: 0.5rem;
}

.form__submit {
    margin: 1.5rem 0;
}

.form__submit button {
    cursor: pointer;
    border: none;
    border-radius: 10px;
    padding: 1rem;
    background-color: #a2c2ec;
    color: white;
    transition: 250ms;
}

.form__submit button:hover {
    color: #a2c2ec;
    background-color: white;
}

.form__required-note {
    color: #757575;
}